<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="main_page.css">
        <title>WebShishki</title>
    </head>
    <body>
        <div id="app1">
            <div id="header" class="wrapper">
                <div id="head-cont">
                    <img id="logo" src="./icons/ShishkiD.png" style="width: 70px; height: 70px;">
                    <input class="input" type="text" placeholder="Найти...">
                    <ul>
                        <li><a href="">Избранное</a></li>
                        <li><a href="">Новый проект</a></li>
                        <li><a href="" class="link">Войти</a></li>
                    </ul>
                </div>  
            </div>
            <div id="article">
                <h1 id="h1">Digital<br>
                portfolio</h1><br>
                <p>Уникальный сервис для<br>размещения своих проектов и<br>наработок</p><br>
                <a href="" class="btn">Создать проект</a>
                <img id="logo2" src="./icons/chelik.png">
                <h2 id="h2">Популярные проекты</h2>
                <div id="projects">
                    <div id="content">
                        <div class="block" style="left: 100px;">
                            <h3>Sleepy</h3>
                            <img class="pic" src="../assets/bot.jpg" alt="">
                            <div class="like"><img src="../assets/Serdtse.png" alt="" class="pic2">1280</div>
                            <div class="text">Телеграмм-бот для налаживания и поддержания здорового режима сна</div>
                        </div>
                        <div class="block" style="left: 650px;">
                            <h3>Gnoosic</h3>
                            <img class="pic" src="../assets/og_logo.png" alt="">
                            <div class="like"><img src="../assets/Serdtse.png" alt="" class="pic2">0761</div>
                            <div class="text">Нейросеть, рекомендующая новых исполнителей, основываясь на вашем музыкальном вкусе</div>
                        </div>
                        <div class="block" style="left: 1200px;">
                            <h3>Modeus</h3>
                            <img class="pic" src="../assets/modeus.png" alt="">
                            <div class="like"><img src="../assets/Serdtse.png" alt="" class="pic2">0001</div>
                            <div class="text" style="top: 40px; position: relative;">Тренажер реакции с иллюзией выбора</div>
                        </div>
                        <a href="" class="link" style="color: red; position: absolute; top: 650px; border: none;">ПОКАЗАТЬ ЕЩЁ</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>