#log_card{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px 10px;
    gap: 50px;
    width: 400px;
    height: 500px;
    border: 2px solid #9747FF;
    flex: none;
    order: 1;
    flex-grow: 0;
    position: relative;
    top: 60px;
}

#log_name{
    width: 315px;
    height: 49px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #3D008C;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#log_btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 88px;
    height: 58px;
    background: #9747FF;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: none;
    color: white;
    position: relative;
    bottom: 50px;
    border: 2px solid #9747FF;
    animation: ch-color-1 0.5s forwards;
    font-size: 24px;
}

#log_btn:hover{
    animation: ch-color-2 0.5s forwards;
}

@keyframes ch-color-1 {
    from {
      background-color: white;
      color: #9747FF;
    }
    to {
      background-color: #9747FF;
      color: white;
    }
  }
  
  @keyframes ch-color-2 {
    from {
      background-color: #9747FF;
      color: white;
    }
    to {
      background-color: white;
      color: #9747FF;
    }
  }

#reg_btn{
    width: 136px;
    height: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #9747FF;
    flex: none;
    order: 0;
    flex-grow: 0;
    position: relative;
    left: 10px;
    top: -40px;
}

.p{
    width: 40px;
    height: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #3D008C;
    flex: none;
    order: 0;
    flex-grow: 0;
    position: relative;
    top: -70px;
    left: -145px;
    margin-bottom: 5px;
}