<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="main_page.css">
        <title>WebShishki</title>
    </head>
    <body>
      <div id="app1">
        <div id="header" class="wrapper">
          <div id="head-cont">
            <img id="logo" src="./icons/ShishkiD.png" style="width: 70px; height: 70px;">
            <input class="input" type="text" placeholder="Найти...">
            <ul>
              <li><a href="">Избранное</a></li>
              <li><a href="">Новый проект</a></li>
              <li><a href="" class="link">Войти</a></li>
            </ul>
          </div>  
        </div>
        <div id="article">
          <h1 id="h1">Digital<br>
          portfolio</h1><br>
          <p>Уникальный сервис для<br>размещения своих проектов и<br>наработок</p><br>
          <a href="" class="btn">Создать проект</a>
          <img id="logo2" src="./icons/chelik.png">
          <h2 id="h2">Популярные проекты</h2>
        </div>
      </div>
    </body>
</html>